[project]
name = "orcestra-new-api"
version = "0.1.0"
description = "Add a short description here"
authors = ["mattbocc <matthew.boccalon@live.ca>"]
channels = ["conda-forge", "bioconda"]
platforms = ["osx-arm64", "win-64"]

[dependencies]
fastapi = ">=0.111.0,<0.112"
uvicorn = ">=0.30.1,<0.31"
git = ">=2.45.2,<2.46"
motor = ">=3.4.0,<3.5"
python-dotenv = ">=1.0.1,<1.1"
aiohttp = ">=3.9.5,<3.10"
gitpython = ">=3.1.43,<3.2"
pyyaml = ">=6.0.1,<6.1"
conda = ">=24.5.0,<24.6"
snakemake = "==7.32.4"
email-validator = ">=2.2.0,<2.3"
colorlog = ">=6.9.0,<7"

[tasks]
start = "uvicorn api.main:app --reload --reload-dir api"
